PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/ticoautos
# Debe ser la misma clave usada por el backend REST para firmar el JWT del login
JWT_SECRET=ticoautos_secret_key_2026
# Si no usas MONGODB_URI, tambien puedes usar MONGO_URI
# MONGO_URI=mongodb://127.0.0.1:27017/ticoautos
